:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-page-color: #000028;

  --accent-color: #FF0070;
  --focus-title-color: #DB00FF;
  --decorative-elements-color: #FF0070;
  --section-title-color: #FF0070;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --button-color: #FF0070;
  --button-color-hover: rgba(255, 0, 111, 0.4);
}

.theme-dark .header__decorative-rec-element {
  display: block;
}