:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-page-color: #FFF1F7;

  --accent-color: #FF8DCB;
  --focus-title-color: #FFC2E6;
  --decorative-elements-color: #353430;
  --section-title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --button-color: #353430;
  --button-color-hover: rgba(53, 52, 48, 0.4);
}


.theme-light .header__decorative-rec-element,
.theme-light .header__decorative-rec-element::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-page-color: #FFF1F7;

    --accent-color: #FF8DCB;
    --focus-title-color: #FFC2E6;
    --decorative-elements-color: #353430;
    --section-title-color: #353430;
    --subtitle-color: #353430;
    --text-color: #353430;
    --button-color: #353430;
    --button-color-hover: rgba(53, 52, 48, 0.4);
  }

  .theme-auto .header__decorative-rec-element,
  .theme-auto .header__decorative-rec-element::after {
  display: none;
}
}